.maincontainer{
    background-color: rgba(31,31,31,255);
    width: 100vw;
    min-height: 100vh;
}

.vid{
    width: 30%;
    height: 30%;
    max-width: 30vw;
    max-height: 30vh;
    border: 1px solid #cddfe7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin:15px;
}

.buttons {
    text-align: center;
}

.heading{
    color:cornsilk; 
}

.header{
    padding: 20px;
}

.footer{
    padding: 20px;
}

.active-user 
{
    padding: 10px 30px;
    cursor: pointer;
    user-select: none;
    color: rgba(245,245,245,255);
}
  
.active-user:hover 
{
    background-color: rgba(166,167,211,255);
    color:rgba(98,98,156,255);
    transition: background-color 0.5s ease;
    transition: color 0.5s easel
}
  
.active-user--selected 
{
    background-color:rgba(166,167,211,255);
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
}
#activeUsers
{
    border-left: 1px solid grey;
    height: 100%;
    text-align: center;
    text-shadow: cornsilk;
    color: rgba(245,245,245,255);
}

#localUserAudioButton img {
    display: block;
    height: 3vh;  
}

#localUserVideoButton img {
    display: block;
    height: 3vh;  
}

#localUserAudioButton {
    margin-right: 20px;
}