body
{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:gainsboro;
    color:black;
}

#container
{
    width: 100%;
    height: calc(100vh);
    display:flex;
    justify-content:space-evenly;
    overflow: hidden;
}

#activeUsers
{
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
}

#conferenceArea
{
    width: 80%;
    height:100%;
}


#activeUsersHeading
{
    margin: 20px 0 0 0;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#conferenceAreaHeading
{
    margin: 20px 0 0 0;
    padding-left: 400px;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#remoteUserVideo1
{
    position: fixed;
    border: 1px solid #cddfe7;
    bottom: 60%;
    right: 20%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 15%;
}

#remoteUserVideo2
{
    position: fixed;
    border: 1px solid #cddfe7;
    bottom: 20%;
    right: 60%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 15%;
}

#remoteUserVideo3
{
    position: fixed;
    border: 1px solid #cddfe7;
    bottom: 20%;
    right: 20%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 15%;
}

#localUserVideo 
{
    position: fixed;
    border: 1px solid #cddfe7;
    bottom: 60%;
    right: 60%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 15%;
}

#remoteUserHeading1
{
    position: fixed;
    bottom: 80%;
    right: 25%;
    font-weight: 500;
    font-size: 18px;
}

#remoteUserHeading2
{
    position: fixed;
    bottom: 40%;
    right: 65%;
    font-weight: 500;
    font-size: 18px;
}

#remoteUserHeading3
{
    position: fixed;
    bottom: 40%;
    right: 25%;
    font-weight: 500;
    font-size: 18px;
}

#localUserHeading
{
    position: fixed;
    bottom: 80%;
    right: 65%;
    font-weight: 500;
    font-size: 18px;
}

.active-user 
{
    padding: 10px 30px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
}
  
.active-user:hover 
{
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
}
  
.active-user--selected 
{
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
}